

td {
  border: 1px solid black;
}

table:nth-child(n+1) {
  clear:left;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 230px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.Container button{ /* You Can Name it what you want*/
  margin-right:16px;
  margin-top: 13px;
  }
  .Container button:last-child{
  margin-right:0px;
  /*so the last one dont push the div thas giving the space only between the inputs*/
  }